[Desktop Entry]
Name=Exchange
GenericName=Currency Converter
Comment=Convert currencies with no hassle
Categories=Utility;GTK;
Exec=com.github.brandonlujan.exchange
Icon=con.github.brandonlujan.exchange
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=Exchange
Keywords=Exchange;Currency;Converter;
